
WorkBC Career Transition Tool API/bin/Debug/netcoreapp3.1/TransferrableSkillsToolAPI.exe
WorkBC Career Transition Tool API/Publish/TransferrableSkillsToolAPI.exe
WorkBC Career Transition Tool API/bin/Release/netcoreapp3.1/TransferrableSkillsToolAPI.exe
WorkBC Career Transition Tool API/obj/Release/netcoreapp3.1/win-x86/PubTmp/Out/TransferrableSkillsToolAPI.exe

WorkBC Career Transition Tool API/bin/

WorkBC Career Transition Tool API/obj/

WorkBC Career Transition Tool API Tests/bin/

WorkBC Career Transition Tool API Tests/obj/

WorkBC CTT Data Imports/bin/

WorkBC CTT Data Imports/obj/

SharedResources/SharedImages/

.vs/WorkBC Career Transition Tool/v16/.suo

.vs/

*.user

temp.txt