@import "./variables.scss";
@import "./mixins.scss";



.mainBox{
    z-index: 10;
    .ant-btn {
        border: $btn-border;
        border-radius: 10px;
        height: 40px !important;
        font-size: 12px;
        font-weight: bold;
        color: $btn-color;
    }
    
}


.back-to-top{
    @include flexbox();
    @include justify-content(flex-end);
    margin-top: 30px;
    @include respond-to('tablet'){ 
        display: none;
    }
    &__button.ant-btn{
        font-family: $font-family-bold;
        font-size: 0.875rem;
        border: 1px solid white;
        color: white;
        background-color: transparent;
        &:hover{
            background-color: white;
            color: $secondary;
        }
    }

}

// Table
div.searchResultBox .ant-table-body {
    background-color: $main-box-container;
}

div.searchResultBox .ant-table-row {
    background-color: $main-box-container;
    color: white;
}

div.searchResultBox .ant-table-empty {
    background-color: $secondary;

    .ant-table-cell {
        color: #ffffff;
    }
}

div.searchResultBox .ant-table-row {
    .ant-table-cell{
        padding: 16px 0;
        cursor: pointer;
        @include respond-to('tablet'){ 
            padding: 16px;
        }
    }
}

div.searchResultBox tr:hover,
div.searchResultBox td:hover,
.ant-table-tbody>.rowSelected:hover>td {
    background-color: $sidebar-container !important;
    font-weight: bold;
    color: white;
}

div.searchResultBox .rowSelected {
    color: white;
    background-color: $sidebar-container !important;
    font-weight: bold;
}

@media print {
    div.searchResultBox .rowSelected {
        background-color: transparent !important;
    }
}

// Layout
.mainBox {
    background-color: $main-box-container;
    color: white;
    padding: 1rem $mobile-padding 2.0rem $mobile-padding;
    min-width: 530px;
    max-width: 785px;
    width: calc(100vw - 760px); // sidebar(340) + detail(420) = 760
    @include respond-to('tablet'){ 
        padding: 1rem 1.5rem 2.0rem 1.5rem;
        border-top: $container-border;
        border-bottom: $container-border;
    }
}

.resultTitleBox {
    padding-top: 15px;
    width: 100%;
}
  
.searchOptionBox {
    margin-top: 10px;
    padding-left: 2px;
    width: 100%;

    .ant-col.ant-col-5{
        white-space: break-spaces;
        word-wrap: none;
    }
}
  
.searchResultBox {
    margin-top: 15px;
    width: 100%;
    border-top: solid 4px white;
    border-bottom: solid 4px white;
}

.scrollListBox {
    overflow-y: auto;
}

.totalNumber {
    color: $yellow-border;
}

@media (max-width: 767px) {
    .mainBox {
        min-width: 100%;
        max-width: 100%;
    }
}

@media (min-width: 768px) {
    .mainBox {
      min-width: 100%;
      max-width: 100%;
    }
}

@media (min-width: 1024px) {
    .mainBox {
        min-width: 530px;
        max-width: 785px;
        width: calc(100vw - 760px); // sidebar(340) + detail(420) = 760
    }
}

@media (min-width: 1280px) {
    .mainBox {
        min-width: 530px;
        max-width: 785px;
        width: calc(100vw - 760px); // sidebar(340) + detail(420) = 760
    }
}

.foundCareerBox {
	background-color: $found-career-bg;
	margin-top: 8px;
	padding: 10px;
	width: 100%;
	min-height: 100px;
	border-radius: 15px;
	border: dotted 2px white;
	&__title{
		margin-bottom: 20px;
	}
	&__row{
		margin-top:5px;
	}
}


.filterOptions{
	margin-top: 1.25rem;
	&__container{
		@include flexbox();
		@include align-items(center);		
	}
	&__summary{
		margin-left: 2rem;
	}
	&__button{
		//font-family: $font-family-bold;
		> button.ant-btn{
            color: $main-box-container;
            font-size: 12px;
		    font-weight: normal;
			@include flexbox();
			@include align-items(center);
		}
	}
}

